:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: #242424;
}

body {
  margin: 0;
}

.wrapper {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  flex-direction: column;
  padding: 5px;
}

button {
  height: 36px;
  border: 1px solid #ffc500;
  background: #ffc500;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 900px;
}

.search-bar__input {
  width: 100%;
  border: 3px solid #ffc500;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar {
  width: 300px;
  display: flex;
  margin-top: 25px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.card {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 13px;
  margin: 10px;
  width: 210px;
  text-align: left;
  padding-left: 10px;
}

span {
  font-weight: 700;
}
